* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(253 253 253);
}
header {
    position: relative;
    width: 100vw;
    height: 10vh;
    background: red;
}
.logo1 {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
}
